{
  "printWidth": 80,
  "useTabs": false,
  "bracketSameLine": true,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true
}
